.contactContainer {
  background-color: #201d29;
}

.imgContainer {
  width: 100%;
  height: 480px;
}

.mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.megz {
  color: var(--yellowColor);
}