*{
  box-sizing: border-box !important;
  padding: 0  ;
  margin: 0 ;
}
html {
  scroll-behavior: smooth;
}
body {
  text-transform: capitalize;
  overflow-x: hidden !important;
  background-color: #171321 !important;
}
ul {
  list-style-type: none;
}
:root {
  --mainColor : #171321 ; 
  --pinkColor : #961d6e;
  --yellowColor : #ffe742 ; 
  --sectionColor : #0d314a;
  --secondColor: #d459ab ; 
}
.links , .navLinks  {
  text-decoration: none;
  color: white !important;
  font-weight: bold;
}
.navLinks , .shadowNavLinks , .shadowNavLinks  {
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.navLinks:hover {
  color: var(--secondColor) !important;
}

.navLinks::before , .shadowNavLinks:before {
   content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 2px;
  width: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.navLinks::before {
  
  background-color: var(--secondColor);
 
}

.navLinks:hover::before , .shadowNavLinks:before {
  width: 100%;
}
.mainBtn {
  padding: 7px 15px;
  height: 40px;
  background-color: white;
  border: none;
  color: var(--mainColor);
  z-index: 3;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.mainBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondColor);
  height: 100%;
  width: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.mainBtn:hover {
  color: white;
}
.mainBtn:hover::before {
  z-index: -1;
  width: 100%;
}
.sideBarMenuu {
  border-bottom: 1px solid var(--secondColor);
}
.sideBarLinks {
  text-decoration: none;
  color: white !important;
  transition: 0.3s;
  
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.sideBarLinks:hover {
  color: var(--secondColor) !important;
}
.lh {
  line-height: 2;
}
.link {
  text-decoration: none;
 
}
.mt {
  margin-top: 200px;
}